@import url(gerais.css);

#disclaimer {
    width: 260px;
    margin: 5px;
    position: absolute;
    right: 0;
    margin-right: 0.8rem;
  }

  #disclaimer #disclaimer_content{
    width: 100%;
    height: 350px;
    margin-bottom: 12px;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer ul {
    height: 260px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer li {
    text-align: center;
    padding: 0 15px;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer h1 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-green-150);
    color: var(--color-light-0);
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer h1 span {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-green-150);
    width: 210px;
    height: 50px;
    padding: 0 3px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  #disclaimer #disclaimer_content .conteudo_disclaimer a:hover {
  background-color: var(--color-green-150);
    color: white;
  }

  #notices {
    width: 260px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 20px;
    background-color: var(--color-green-150);
  }
  
  #notices h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
    color: var(--color-light-0);
  }
  
  #notices #notices_disclaimer {
    width: 90%;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--color-light-0);
  }
  
  #notices #notices_disclaimer .notices_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }