@import url(gerais.css);

#home {
    min-width: 650px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #home #barra_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #home #barra_top #barra_pesquisa {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    background-color: white;
  }
  
  #home #barra_top #barra_pesquisa #input_search {
    width: 93%;
    height: 50%;
    border: none;
    outline: none;
    padding: 0 25px;
  }
  
  #home #barra_top #barra_pesquisa #btn_search {
    border: none;
    background-color: transparent;
    color: var(--color-gray-150);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  #home #barra_top #barra_pesquisa #btn_search:hover {
    transform: scale(1.05);
  }
  
  #home #barra_top #data_home {
    height: 40px;
    width: 150px;
  }
  
  #home #barra_top #data_home p {
    font-size: 0.9rem;
    color: var(--color-gray-150);
  }

  #home #barra_top #notification {
    transition: all 0.5s;
  }

  #home #barra_top #notification:hover {
    transform: scale(1.05);
  }
  
  #home #barra_top #notification a i{
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-gray-150);
  }

  #home_page {
    width: 100%;
    height: 600px;
    margin: 55px 0 0 50px;
    display: grid;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #home_page::-webkit-scrollbar {
    display: none;
  }
  
  #home_page .home_content {
    width: 250px;
    height: 280px;
    background-color: var(--color-light-0);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
  }
  
  #home_page .home_content:hover {
    transform: scale(1.03);
  }
  
  #home_page .home_content a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #home_page .home_content a h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    color: var(--color-gray-200);
  }
  
  #home_page .home_content a p {
    font-size: 0.7rem;
    line-height: 12px;
    margin-bottom: 12px;
    color: var(--color-gray-150);
    text-align: center;
  }
  
  #home_page .home_content a img {
    width: 70%;
  }