@charset "UTF-8";

:root {
  --color-green-50: #a1e146;
  --color-green-100: #8cc53e;
  --color-green-150: #77a734;

  --color-gray-0: #bec0bb;
  --color-gray-50: #a2a49f;
  --color-gray-100: #868884;
  --color-gray-150: #686966;
  --color-gray-200: #363735;

  --color-light-50: #e5e1d6;
  --color-light-100: #c8c4ba;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: var(--color-gray-50);
    display: flex;
  }
  
  #side_bar {
    background-color: white; 
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #side_bar #logo {
    width: 150px;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  #side_bar #logo img {
    width: 100%;
    object-fit: cover;
  }

 
  
  #side_bar .menu_fist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  #side_bar .menu_fist li {
    padding: 7px;
  }
  
  #side_bar .menu_fist li a {
    width: 210px;
    height: 50px;
    padding: 0 3px;
    line-height: 50px;
    border-radius: 10px;
    display: inline-block; 
    text-decoration: none;
    color: var(--color-green-150);
    transition: 0.5s;
  }
  
  #side_bar .menu_fist li a:hover {
    background-color: var(--color-green-100);
    color: white;
  }
  
  #side_bar .menu_fist li a i{
    padding: 0 10px;
  }
  

  #side_bar .menu_fist .menu_second {
    display: none;
    list-style-type: none;
}

#side_bar .menu_fist li:hover .menu_second {
    display: block;
}

  #side_bar .menu_fist .menu_second {
    width: 100px;
    transition: 2s;
  }

  #side_bar .menu_fist .menu_second li {
    margin-left: 15px;
  }

  #side_bar .menu_fist .menu_second li a {
    display: inline-block;
    font-size: 0.8rem;
    width: 170px;
    height: 30px;
    padding: 0 3px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
  }

  #home {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #home #barra_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #home #barra_top #barra_pesquisa {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    background-color: white;
  }
  
  #home #barra_top #barra_pesquisa #input_search {
    width: 93%;
    height: 50%;
    border: none;
    outline: none;
    padding: 0 25px;
  }
  
  #home #barra_top #barra_pesquisa #btn_search {
    border: none;
    background-color: transparent;
    color: var(--color-gray-150);
    cursor: pointer;
  }
  
  #home #barra_top #barra_pesquisa #btn_search:hover {
    transform: scale(1.05);
  }
  
  #home #barra_top #data_home {
    height: 40px;
    width: 150px;
  }
  
  #home #barra_top #data_home p {
    font-size: 0.9rem;
    color: var(--color-gray-150);
  }
  
  #home #barra_top #notification {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-gray-150);
  }

  #home_page {
    width: 900px;
    height: 600px;
    margin: 55px 0 0 50px;
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #home_page .home_content {
    width: 250px;
    height: 280px;
    background-color: var(--color-light-50);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #home_page .home_content:hover {
    transform: scale(1.03);
  }
  
  #home_page .home_content a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #home_page .home_content a h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: var(--color-gray-200);
  }
  
  #home_page .home_content a p {
    font-size: 0.7rem;
    line-height: 12px;
    margin-bottom: 12px;
    color: var(--color-gray-150);
    text-align: center;
  }
  
  #home_page .home_content a img {
    width: 70%;
  }
  


  #side_bar_frame {
    width: 260px;
    margin: 20px;
  }

  #side_bar_frame #disclaimer{
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer ul {
    height: 260px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer li {
    text-align: center;
    padding: 0 15px;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer h1 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-green-150);
    color: gold;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer h1 span {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-green-150);
    width: 210px;
    height: 50px;
    padding: 0 3px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer a:hover {
  background-color: var(--color-green-150);
    color: white;
  }

  #notices {
    width: 260px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-green-150);
  }
  
  #notices h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
    color: var(--color-light-50);
  }
  
  #notices #notices_disclaimer {
    width: 90%;
    height: 300px;
    border-radius: 12px;
    background-color: var(--color-light-50);
  }
  
  #notices #notices_disclaimer .notices_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #notices #notices_disclaimer .notices_content h3 {
    font-size: 1rem;
    font-weight: 700;
    color: red;
    margin: 3px 0;
  }
  
  #notices #notices_disclaimer .notices_content h4 {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
  }
  
  #notices #notices_disclaimer .notices_content ul {
    width: 200px;
    padding: 5px;
    text-align: justify;
    font-size: 0.85rem;
  }
  
  #notices #notices_disclaimer .notices_content p {
    font-size: 0.75rem;
    text-align: justify;
  }