@charset "UTF-8";

:root {
    --color-green-50: #a1e146;
    --color-green-100: #8cc53e;
    --color-green-150: #77a734;
  
    --color-gray-50: #a2a49f;
    --color-gray-100: #868884;
    --color-gray-150: #686966;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: var(--color-gray-50);
    display: flex;
  }
  
  #side_bar {
    background-color: white; 
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #side_bar #logo {
    width: 150px;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  #side_bar #logo img {
    width: 100%;
    object-fit: cover;
  }

 
  
  #side_bar .menu_fist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  #side_bar .menu_fist li {
    padding: 7px;
  }
  
  #side_bar .menu_fist li a {
    width: 210px;
    height: 50px;
    padding: 0 3px;
    line-height: 50px;
    border-radius: 10px;
    display: inline-block; 
    text-decoration: none;
    color: var(--color-green-150);
    transition: 0.5s;
  }
  
  #side_bar .menu_fist li a:hover {
    background-color: var(--color-green-100);
    color: white;
  }
  
  #side_bar .menu_fist li a i{
    padding: 0 10px;
  }
  

  #side_bar .menu_fist .menu_second {
    display: none;
    list-style-type: none;
}

#side_bar .menu_fist li:hover .menu_second {
    display: block;
}

  #side_bar .menu_fist .menu_second {
    width: 100px;
    transition: 2s;
  }

  #side_bar .menu_fist .menu_second li {
    margin-left: 15px;
  }

  #side_bar .menu_fist .menu_second li a {
    display: inline-block;
    font-size: 0.8rem;
    width: 170px;
    height: 30px;
    padding: 0 3px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
  }

  #home {
    width: 1000px;
  }
  
  #home #barra_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #home #barra_top #barra_pesquisa {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    background-color: white;
  }
  
  #home #barra_top #barra_pesquisa #input_search {
    width: 93%;
    height: 50%;
    border: none;
    outline: none;
    padding: 0 25px;
  }
  
  #home #barra_top #barra_pesquisa #btn_search {
    border: none;
    color: var(--color-gray-150);
    cursor: pointer;
  }
  
  #home #barra_top #barra_pesquisa #btn_search:hover {
    transform: scale(1.05);
  }
  
  #home #barra_top #data_home {
    height: 40px;
    width: 150px;
  }
  
  #home #barra_top #data_home p {
    font-size: 0.9rem;
    color: var(--color-gray-150);
  }
  
  #home #barra_top #notification {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-gray-150);
  }


  #side_bar_frame {
    width: 260px;
    margin: 20px;
  }

  #side_bar_frame #disclaimer{
    width: 100%;
    height: 50vh;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer ul {
    height: 260px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer li {
    text-align: center;
    padding: 0 15px;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer h1 {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-green-150);
    color: gold;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer h1 span {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-green-150);
    width: 210px;
    height: 50px;
    padding: 0 3px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  #side_bar_frame #disclaimer .conteudo_disclaimer a:hover {
  background-color: var(--color-green-150);
    color: white;
  }